// button core
@import "../../src/image.less";

// theme variable
@import "variable.less";

// override core variables
@esui-img-frame-border: 1px solid @esui-palette-border;
@esui-img-frame-border-hover: 1px solid @esui-palette-primary-color;

@esui-img-frame-slide-in-figcaption-color:@esui-palette-white;
@esui-img-frame-font-size: 75%;

@esui-img-frame-background: @esui-palette-white;
@esui-img-frame-caption-background: @esui-palette-black;