@esf-palette-white: #fff;

@esf-palette-black: #000;

@esf-palette-neutral-highlight-color: #FAFAFA;
@esf-palette-neutral-color: #EFF0F2;
@esf-palette-neutral-shadow-color: #EEEEEE;

@esf-palette-primary-highlight-color: lighten(#6CCDC0, 5%);
@esf-palette-primary-color: #6CCDC0;
@esf-palette-primary-shadow-color: darken(#6CCDC0, 10%);

@esf-palette-success-highlight-color: lighten(#5CB85C, 5%);
@esf-palette-success-color: #5CB85C;
@esf-palette-success-shadow-color: darken(#5CB85C, 10%);

@esf-palette-warning-highlight-color: lighten(#F0AD4E, 5%);
@esf-palette-warning-color: #F0AD4E;
@esf-palette-warning-shadow-color: darken(#F0AD4E, 10%);

@esf-palette-danger-highlight-color: lighten(#D9534F, 5%);
@esf-palette-danger-color:  #D9534F;
@esf-palette-danger-shadow-color: darken(#D9534F, 10%);

@esf-palette-info-highlight-color: lighten(#5BC0DE, 5%);
@esf-palette-info-color: #5BC0DE;
@esf-palette-info-shadow-color: darken(#5BC0DE, 10%);


// other colors
// global text color
@esf-palette-color: #444;
@esf-palette-contrast-color: @esf-palette-white;
@esf-palette-muted-color: #999;
@esf-palette-link-color: @esf-palette-primary-color;
@esf-palette-link-hover-color: lighten(@esf-palette-primary-color, 15%);
@esf-palette-border: #ddd;
@esf-palette-light-bg-hightlight-color: #fffaee;
@esf-single-line-control-height: 2.5em;

// font-family
@esf-global-font-family: 'Helvetica Neue', Helvetica, Arial, '宋体', SimSun, sans-serif;
@esf-global-heading-font-family: 'Helvetica Neue', Helvetica, Arial, '微软雅黑', 'Microsoft YaHei', '黑体', SimHei, sans-serif;
