@esui-multicalendar-layer-monthview-space: .5em;

.@{ui-class-prefix}-multicalendar-layer {
    .@{ui-class-prefix}-monthview {
        vertical-align: top;
    }
    .@{ui-class-prefix}-calendar-next-month {
        margin-left: @esui-multicalendar-layer-monthview-space;
    }
}

